<%- include('../partials/masthead.ejs') %>
<%- include('../partials/userInformation.ejs') %>
<body>


<!--Shopping list selection drop down-->
<div class="container " style="margin: 0 auto;">
    <div class="dropdown">
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-secondary dropdown-toggle mb-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= selectedList %>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <% if(listNames.length > 0) {%>
                        <% listNames.forEach((item) => {%>
                        <form method="post" action="/shoppingList/list">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                            <li>
                                <button type="submit" class="btn dropdown-item" style="margin-left: auto;" name="listName" value="<%= item %>"><%= item %></button>
                            </li>
                        </form>
                        <% }) %>
                    <% }else {%>
                        <li>
                            <p class="dropdown-item">No Shopping Lists Exist</p>
                        </li>
                    <% } %>
                </ul>
                <a class="btn btn-outline-secondary mb-5" href="/shoppingList/Create">Create Shopping List</a>
            </div>
            <div class="col">
                <form method="post" action="/shoppingList/RemoveList">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <input type="hidden" name="selectedList" value="<%=selectedList%>">
                    <button class="btn btn-outline-danger">Remove List</button>
                </form>
                
            </div>
        </div>
        
    </div>
</div>

<!--Shopping List Table-->
<div class="container">
        <div id="list-table" class="card text-dark bg-light mb-5">
        <div class="card-header">
            <table class="table table-hover text-center" data-toggle="table">
                <thead>
                <tr>
                    <th scope="col" data-sortable="true">Item Name</th>
                    <th scope="col" data-sortable="true">Item Description</th>
                    <th scope="col" data-sortable="true">Price</th>
                    <th scope="col" data-sortable="true">Selected</th>
                    <th scope="col" >Delete Item</th>
                </tr>
                </thead>
                <tbody>
                    <% shoppingList.forEach((item) => {%>
                    <tr>
                    <td><%= item.item_name %></td>
                    <td><%= item.item_desc %></td>
                    <td><%= item.price %></td>
                    <td><img src="/images/cart-check-fill.svg"></td>
                    
                        <td>
                            <form action="/shoppingList/removeEntry" method="post">
                            <button type="submit" class="btn">
                            <input type="hidden" name="index" value="<%= item.id %>"/>
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                            <img src="/images/x-circle-fill.svg"/>
                            </button>
                    </form>
                    </td>
                    
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>



</body>