<%- include('../partials/masthead.ejs') %>
<%- include('../partials/userinformation.ejs') %>

<div class="container text-center">
    <h2 class="mb-5" style="padding: 2em 0;">Fill Out The Form Below To Create A Shopping List</h2>
    <form method="post" action="/shoppingList/create" style="max-width: 950px; margin: 0 auto;">
        <input hidden name="_csrf" value="<%=csrfToken%>"/>
        <% if(!shoppingList.list_name) {%>
            <input class="form-control" type="text" name='list_name' placeholder="Enter Shopping List Name" required>
        <% }else {%>
            <input class="form-control" type="text" name='list_name' value="<%= shoppingList.list_name %>" placeholder="Enter Shopping List Name">
        <% } %>
        
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Description</th>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Price</th>
                </tr>
            </thead>
            <% if(shoppingList.listName) {%>
                <tbody>
                    <% shoppingList.forEach((item) => {%>
                        <td><%= item.itemName %></td>
                        <td><%= item.itemDesc %></td>
                        <td><%= item.amount %></td>
                        <td><%= item.unit %></td>
                        <td><%= item.price %></td>

                    <% }) %>
                </tbody>
                
            <% } %>
            <tbody>
                <td><input class="form-control " type="text" name="item_name"></td>
                <td><input class="form-control " type="text" name="item_desc"></td>
                <td><input class="form-control" type="number" name="amount"></td>
                <td><input class="form-control" type="text" name="unit"></td>
                <td><div class="input-group">
                    <span class="input-group-text">$</span>
                    <input class="form-control " type="number" name="price">
                    
                </div>
                    
                </td>
                <td><button class="btn" type="submit"><img src="/images/plus-square-fill.svg" width="32px"/></button></td>
            </tbody>
        </table>
        
    </form>
</div>